@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Work Sans';
  src:
    url('../public/fonts/WorkSans/WorkSans-Bold/Work-Sans-Regular.woff2')
      format('woff2'),
    url('../public/fonts/WorkSans/WorkSans-Bold/Work-Sans-Regular.woff')
      format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Kreodon';
  src:
    url('../public/fonts/Kreadon/bold/Kreadon-Bold.woff2') format('woff2'),
    url('../public/fonts/Kreadon/bold/Kreadon-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

.container {
  margin: 0 auto;
  font-weight: bold;
  width: 1280px;
}

body {
  font-family: 'Work Sans', sans-serif;
}
