@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../public/fonts/WorkSans/WorkSans.css';
@import '../public/fonts/Kreadon/Kreadon.css';

/* 
  Kreadon

  font-family: 'Kreadon';
  font-weight: 300-700;

*/

/* 
  Work Sans

  font-family: 'Work Sans';
  font-weight: 400-600;

*/

body {
  font-size: 24px;
  font-family: 'Work Sans';
  font-weight: 400;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.form-inputs {
  @apply text-white 
    placeholder-white 
    text-[20px] 
    border 
    border-white 
    rounded-[24px] 
    pl-[24px] 
    py-[8px]
    bg-inherit;
}
